<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<div id="head">

<title>THC LLC</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" href="stlye.css" >



<h1 id="LLC">Total Harvest Consulting</h1>
<h4 id="owner"><a href="mailto:totalharvestcolsulting@gmail.com">Robbie Schmidt,</a><span> Principal Advisor</span></h4>

<div id="logo1">
<h1>T</h1>
</div>
<div id="logo2">
<h1>H</h1>
</div>
<div id="logo3">
<h1>C</h1>
</div>
</div>
</head>

<body>

<div id="body">

<div id="portfolio">
<h3>The Solution Center</h3>
<ul>
	<li><a href="Tech.html"><%= link_to image_tag("tech.jpg") %>
    Garden Setups</a></li>
    <li><a href="Biology.html"><%= link_to image_tag("bio.jpg") %>
    Troubleshooting</a></li>
    <li><a href="Contact.html"><%= link_to image_tag("contact.png") %>
    Appointments</a></li>    
</ul>

</div>
 
<div id="blurb"><h3><h1>Total Harvest,</h1> <br> We'll Get You There! </h3>

<div id="hr"><hr /></div>

<ul>
	<li>Video Consultations</li>
    <li>Emergency Gardening Services</li>
    <li>How To's</li>
    <li>Indoor/Outdoor/Greenhouse</li>
</ul>
</div>
</div>
<p id="home"><a href="mailto:totalharvestcolsulting@gmail.com">Email Us!</a></p>

<div id="harvest">
</div>
</div>
</body>
</html>

